.header {
  background: rgba(9, 9, 9, 0.78);
  height: 49px;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  padding: 0.5rem 2rem;
  position: fixed;
  top: 0;
  z-index: 2;

  .header__container {
    label {
        position: relative;
      }


label:before {
    content: "";
    position: absolute;
    left: 77px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
  }
  

      &__input {
        border: 1px solid #ccc;
        border-radius: 20px;
        box-shadow: 2px 2px 3px #666;
        font-size: 20px;
        padding: 10px 40px;
        outline: 0;
        margin-top: 28px;
        margin-left: 22px;
        margin-bottom: 11px;
      }
  }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .header__container__input {
        width: 200px;
        margin-top: 22px;
    }
}

