$green: #1db954;

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  a {
    color: #fff;
  }

  button {
    background-color: $green;
    color: #fff;
    padding: 20px;
    border-radius: 30px;
    font-weight: 800;
    font-size: 18px;
  }
}
